<!DOCTYPE root[<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="54a25349-a6d4-45f7-9e9a-5361cb2c2e8e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-01-23T15:43:14" updateDate="2019-01-23T15:43:14" nodeName="Homepage" urlName="homepage" path="-1,1064" isDoc="" nodeType="1061" creatorName="Imran Khan" writerName="Imran Khan" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Widgets Ltd 2014"</p>]]></bodyText>
    <footerText><![CDATA[Copyright Widgets Ltd 2014]]></footerText>
  </homePage>
  <contactUs id="1069" key="8690c4bb-a49f-42f3-b0df-4ccf44ed6e88" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-01-23T16:13:59" updateDate="2019-01-23T16:13:59" nodeName="Contact Us Page" urlName="contact-us-page" path="-1,1069" isDoc="" nodeType="1066" creatorName="Imran Khan" writerName="Imran Khan" writerID="0" template="1065" nodeTypeAlias="contactUs" isPublished="false">
    <message><![CDATA[<p>My Message is my page is working or not.</p>]]></message>
    <enterYourEmail><![CDATA[imranqau5373@gmail.com]]></enterYourEmail>
  </contactUs>
</root>